<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<link rel="stylesheet"
			href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>
		<script type="text/javascript">
			$(document).ready(function(){
		        $(".goback-action").click(function(){
		        	var url = "/";
		            $(location).attr('href',url);
		        });
			});
		</script>
	</head>
	<body>
		<h3>Add Product</h3>
		<form action="#" th:action="@{/addProduct}" th:object="${product}" method="post">
			<input type="hidden" id="status" name="status" value="Created"></input>
    		<p>Product Id: <input type="text" th:field="*{productId}" /></p>
        	<p>Name: <input type="text" th:field="*{productName}" /></p>
        	<p>Description: <input type="text" th:field="*{description}" /></p>
        	<p><input type="submit" value="Add" /> <input type="reset" value="Reset" /> <input type="button" value="GoBack" class="goback-action"/></p>
    	</form>
	</body>
</html>