<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>
<script type="text/javascript">
	$(function() {
		$("#menu").menu();
	});
// 	$(document).ready( function () {
// 	    $('#listproducts').DataTable();
// 	} );


    $(document).ready(function(){
        $(".edit-row").click(function(){
            var productId = $(this).attr("field");
            var url = "/updateProduct?productId="+productId;
            $(location).attr('href',url);
        });
    });    
</script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Tao.Net</a>
      </div>
      <ul class="nav navbar-nav">
		<li class="active">
			<a href = "#">List Products</a>
		</li>
		<li><a href="/addProduct">Add Product</a></li>
	  </ul>
	  <!-- ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul-->
    </div>
  </nav>
	<div class="container">
		<h3>Products</h3>
		<table id="listproducts" data-toggle="table">
			<thead>
				<tr>
					<th>Product Id</th>
					<th>Product Name</th>
					<th>Status</th>
					<th />
				</tr>
			</thead>
			<tbody>
				<tr th:each="prod,itemStat: ${allProducts}">
					<input type="hidden" id="productId" name="productId" th:value="${prod.productId}"></input>
					<td th:text="${prod.productId}">${prod.productId}</td>
					<td th:text="${prod.productName}">${prod.productName}</td>
					<td th:text="${prod.status}">${prod.status}</td>
					<td><input th:field="*{allProducts[__${itemStat.index}__].productId}" type="button" value="Edit" class="edit-row btn btn-primary"/></td>
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>